body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  

}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px #ddd;
	
}

h2 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #fca503;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fca503;
}

.error {
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px;
}

.success {
    color: #008000;
    text-align: center;
    margin-bottom: 15px;
}